
{% if site_options_header.alert_text or (site_options_header.alert_link_label and site_options_header.alert_link_url) %}

	<div class="flash-notice">

		<div class="flash-notice__inner">

			{% if site_options_header.alert_text %}
				<span class="flash-notice__text">
					{{ site_options_header.alert_text }}
				</span>
			{% endif %}

			{% if site_options_header.alert_link_label and site_options_header.alert_link_url %}
				&nbsp;&nbsp; <a href="{{ site_options_header.alert_link_url }}" class="button button--xsmall button--ghost">
					{{ site_options_header.alert_link_label }}
				</a>
			{% endif %}

		</div>

	</div>

{% endif %}

<header class="main-header" id="main-header">

	<div class="main-header__left">

		<a href="{{ site.url }}" rel="home" class="main-header__link">

			{% if site_options_header.logo_id %}
				<img class="main-header__logo" src="{{ Image(site_options_header.logo_id).src('large') }}" alt="{{ site.name }}" role="banner">
			{% else %}
				<h2 class="main-header__title">
					{{ site.name }}
				</h2>
			{% endif %}

			{% if site_options_header.tagline %}
				<div class="main-header__subtitle">
					{{ site_options_header.tagline }}
				</div>
			{% endif %}

		</a>

	</div>

	<div class="main-header__middle">

		<nav class="main-menu" role="navigation">
			<ul class="main-menu__list">

				{% for item in main_menu.items %}
					<li class="hidden-xs main-menu__item {{ item.classes|join(' ') }}">
						<a class="main-menu__link" href="{{ item.url }}">
							{{ item.title }}
						</a>
					</li>
				{% endfor %}

				<li class="main-menu__item">
					<a href="#" class="main-menu__link mobile-trigger" id="mobileTrigger" aria-controls="mobileMenu">
						<i class="fa fa-bars" aria-hidden="true"></i>
						<span class="sr-only">Mobile Menu</span>
					</a>
				</li>

			</ul>
		</nav>

	</div>

</header>