<footer class="main-footer" id="main-footer">

	{% if site_options_footer.footer_content %}

		<div class="main-footer__top">
			{{ site_options_footer.footer_content }}
		</div>

	{% endif %}

	{% if site_options_social.facebook_url or site_options_social.twitter_url %}

		<div class="main-footer__social">

			<div class="container-fluid">

				{% if site_options_social.facebook_url %}

					<a href="{{ site_options_social.facebook_url }}" class="social-link social-link--facebook">
						<i class="fa fa-facebook"></i> <span class="sr-only">Facebook Profile</span>
					</a>

				{% endif %}

				{% if site_options_social.twitter_url %}

					<a href="{{ site_options_social.twitter_url }}" class="social-link social-link--twitter">
						<i class="fa fa-twitter"></i> <span class="sr-only">Twitter Profile</span>
					</a>

				{% endif %}

				{% if site_options_social.email %}

					<a href="mailto:{{ site_options_social.emails }}" class="social-link social-link--email">
						<i class="fa fa-envelope"></i> <span class="sr-only">Email Address</span>
					</a>

				{% endif %}

			</div>

		</div>

	{% endif %}

	<div class="main-footer__small-print">
		Copyright {{ "now"|date("Y") }} {{ site.name }}. All Rights Reserved.
	</div>

</footer>