{% extends 'page.twig' %}

{% block single_body %}

	<div class="container-fluid">

		<div class="section">

			<div class="card-teases-grid">

				{% for term in terms %}

					<a href="{{ term.link }}" class="card-tease text-center">

						<div class="card-tease__overline">
							{{ term.posts(-1, 'business')|length }} Local Businesses
						</div>

						<h3 class="card-tease__title card-tease__title--large">
							{{ term.name }}
						</h3>

						{% if term.icon_id %}
							<img src="{{ Image(term.icon_id).src(medium) }}" alt="{{ Image(term.icon_id).alt|default('Icon for ' ~ term.name) }}" class="card-tease__icon">
						{% elseif term.parent.icon_id %}
							<img src="{{ Image(term.parent.icon_id).src(medium) }}" alt="{{ Image(term.parent.icon_id).alt|default('Icon for ' ~ term.name) }}" class="card-tease__icon">
						{% endif %}

					</a>

				{% endfor %}

			</div>

		</div>

	</div>

{% endblock %}