/**
 * SCSS Components
 *
 * Styling for the site can be included here, or split into multiple files.
 * 
 */

/**
 * Headings
 */

.big-heading {
	font-size: $font-size-xlarge;
	font-weight: 900;
	margin-top: 0;
	&:before {
		content: '';
		display: block;
		width: 175px;
		border-top: 6px solid $text-color;
		margin-bottom: $spacing/2;
	}
	@include mq-xsmall-max {
		font-size: $font-size-large;
	}
}

.section-heading {
	font-size: $font-size-large;
	font-weight: 700;
	border-bottom: 3px solid $text-color;
	padding-bottom: $spacing/6;
}

/**
 * Buttons
 */

.buttons {
	margin-bottom: $spacing/4;
	.button:not(:last-child){
		margin-right: $spacing/4;
	}
}

.button {
	background-color: $site-blue;
	color: white;
	font-weight: 700;
	letter-spacing: -0.5px;
	padding: 10px 20px;
	border: none;
	font-size: $font-size-small;
	&:hover, &:active, &:focus {
		text-decoration: none;
		color: white;
	}
}

.button--white {
	border: 1px solid $site-blue;
	background-color: white;
	color: $site-blue;
	&:active, &:focus, &:hover {
		color: $site-blue;
		background-color: $site-blue-light;
	}
}

.button--ghost {
	background-color: transparent;
	border: 1px solid white;
	&:hover, &:active, &:focus {
		background-color: rgba(white, 0.2);
	}
}

.button--xsmall {
	font-size: $font-size-xxsmall;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding: 4px 8px;
}

/**
 * Social Links
 */

.social-link {
	display: inline-flex;
	width: 30px;
	height: 30px;
	background-color: $gray-light;
	color: white;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	&:active, &:focus, &:hover {
		color: white;
		text-decoration: none;
		background-color: darken($gray-light, 10%);
	}
}

.social-link--facebook {
	background-color: #4863A8;
	&:active, &:focus, &:hover {
		background-color: darken(#4863A8, 10%);
	}
}

.social-link--twitter {
	background-color: #4D9FEC;
	&:active, &:focus, &:hover {
		background-color: darken(#4D9FEC, 10%);
	}
}

/**
 * Forms
 */

.search-submit-combo {
	display: flex;
	border: 1px solid $site-blue;
}

.search-submit-combo--small {
	.search-submit-combo__search {
		width : 100px;
		padding: 3px 6px;
	}
}

.search-submit-combo__search {
	flex-grow: 1;
	border: none;
	padding: 5px 10px;
	font-size: $font-size-small;
	color: $text-color;
}

.small-select {
	display: block;
	width: 100%;
}

.gform_confirmation_message {
	@extend .alert;
	@extend .alert-success;
}

/**
 * Flash Notice
 * Notice displayed at the top of the page
 */

.flash-notice {
	background-color: $site-blue;
	color: white;
	text-align: center;
	padding: $spacing/5;
	line-height: 1.1;
}

.flash-notice__inner {
	display: inline-flex;
	align-items: center;
	@include mq-xsmall-max {
		display: block;
	}
}

.flash-notice__text {
	font-size: $font-size-small;
	font-weight: 700;
	@include mq-xsmall-max {
		display: block;
		&:not(:last-child){
			margin-bottom: $spacing/5;
		}
	}
}

/**
 * Main Header
 */

.main-header {
	display: flex;
	align-items: center;
	padding: $spacing/2;
	@include mq-xsmall-max {
		padding: $spacing/3 $spacing/4;
	}
}

.main-header__left {
	flex-shrink: 0;
}

.main-header__left {
	flex-grow: 1;
}

.main-header__right {
	flex-shrink: 0;
}

.main-header__link {
	text-decoration: none;
	color: $gray-light;
	&:hover, &:active, &:focus {
		text-decoration: none;
		color: $gray-light;
		opacity: 0.7;
	}
}

.main-header__title {
	color: $text-color;
	font-size: $font-size-xlarge;
	font-weight: 900;
	margin: 0;
	margin-bottom: 5px;
}

.main-header__subtitle {
	font-size: $font-size-small;
	@include mq-small-max {
		display: none;
	}
}

/**
 * Main Menu
 */

.main-menu__list {
	display: flex;
}

.main-menu__link {
	display: inline-block;
	font-weight: 700;
	letter-spacing: -1px;
	padding: 10px;
	&:hover, &:active, &:focus {
		text-decoration: none;
		color: $link-color;
		background-color: $gray-lighter;
	}
}

/**
 * Slide out Menu
 */

.mobile-menu {
	background-color: white;
	color: $text-color;
}

.mobile-menu__link {
	font-size: $font-size-small;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: $spacing/4;
	&:active, &:focus, &:hover {
		text-decoration: none;
	}
}

.mobile-menu__close {
	color: $link-color;
	opacity: 1;
	font-size: 20px;
}

/**
 * Main Footer
 */

.main-footer {
	background-color: $site-gray-light;
}

.main-footer__top {
	text-align: center;
	padding: $spacing $spacing/2 $spacing/3 $spacing/2;
}

.main-footer__social {
	text-align: center;
	padding-bottom: $spacing/3;
}

.main-footer__small-print {
	text-align: center;
	font-size: $font-size-xsmall;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	padding: 0 $spacing/2 $spacing/2 $spacing/2;
}

/**
 * Card Teases
 */

.card-teases-grid {
	display: flex;
	flex-wrap: wrap;
	.card-tease {
		width: calc(33% - #{$spacing/2});
		margin: $spacing/4;
	}
	@include mq-xsmall-max {
		.card-tease {
			width: 100%;
			margin: $spacing/4;
		}
	}
}

.card-tease {
	border: 1px solid rgba(black, 0.2);
	display: block;
	background-color: $site-gray-light;
	margin-bottom: $spacing/4;
	padding: $spacing/2 $spacing/3;
	color: $text-color;
	position: relative;
	&:hover, &:active, &:focus {
		color: $text-color;
		text-decoration: none;
		border-color: $site-blue;
		transform: translate(0, -4px);
		box-shadow: 0 3px 6px rgba(black, 0.1);
	}
}

.card-tease__overline {
	font-size: $font-size-xsmall;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.card-tease__title {
	font-size: $font-size-base;
	font-weight: 900;
	letter-spacing: -0.5px;
	margin: $spacing/4 0;
	&:first-child{
		margin-top: 0;
	}
}

.card-tease__title--large {
	font-size: $font-size-large;
}

.card-tease__underline {
	font-size: $font-size-xsmall;
	line-height: 1.3;
}

.card-tease__distance {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	font-weight: 700;
	font-size: $font-size-xsmall;
	padding: 5px 10px;
	color: white;
	background-color: $gray;
}

.card-tease__icon {
	max-width: 60px;
	max-height: 60px;
}

/**
 * Pages/Single
 */

.single-hero {
	background-color: $site-blue-light;
	padding: $spacing 0;
	text-align: center;
}

.single-title {
	font-weight: 900;
	margin: 0;
	font-size: $font-size-xxlarge;
	letter-spacing: -1px;
	@include mq-xsmall-max {
		font-size: $font-size-xlarge;
	}
}

.single-overline {
	font-size: $font-size-small;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: $spacing/3;
}

.single-subtitle {
	margin-top: $spacing/3;
	color: $gray;
}

.single-intro {
	font-size: $font-size-large;
	font-family: $font-family-serif;
	font-style: italic;
	margin-bottom: $line-height-computed;
	padding-bottom: $line-height-computed;
	border-bottom: 1px dotted rgba(black, 0.2);
	color: $gray;
}

.single-meta-list {
	background-color: $site-gray-light;
	padding: $spacing/2;
}

.single-meta-list__item {
	display: flex;
	margin-bottom: $spacing/3;
	font-size: small;
}

.single-meta-list__key {
	width: 175px;
	flex-shrink: 0;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: $font-size-xsmall;
}

/**
 * Home Page
 */

.home-hero {
	background-color: $site-blue-light;
	background-size: cover;
	background-position: right bottom;
	padding: $spacing*2 0;
	@include mq-xsmall-max {
		padding: $spacing $spacing/4;
	}
}

.home-hero__inner {
	max-width: 630px;
}

/**
 * Map Search Results
 */

.map-results {
	display: flex;
	@include mq-xsmall-max {
		display: block;
	}
}

.map-results__left {
	padding: 10px;
	@include mq-small-min {
		height: 600px;
		max-height: 90vh;
		overflow-y: scroll;
		width: 350px;
	}
}

.map-results__right {
	padding-left: $spacing/2;
	flex-grow: 1;
	@include mq-xsmall-max {
		display: none;
	}
}

.map-results__map {
	height: 100%;
	width: 100%;
}

.business-infowindow {
	max-width: 320px;
}

.business-infowindow__title {
	font-size: $font-size-base;
	letter-spacing: -0.5px;
}

/**
 * Neighborhoods
 */
