///////////////////
// Base Elements //
///////////////////

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	.main {
		flex-grow: 1;
	}
}

img {
	max-width: 100%;
	height: auto;
}

/* Strip all ul's */
ul {
	@include strip-ul;
}

a {
	transition: $transition;
}

/////////////////////////
// Bootstrap Overrides //
/////////////////////////

.container-fluid {
	max-width: $container-large-desktop;
}

//////////////////////////
// Bootstrap Extensions //
//////////////////////////

.hidden-xxs {
	@include mq-tiny-max {
		display: none !important;
	}
}

.visible-xxs {
	@include mq-xsmall-min {
		display: block !important;
	}
}

////////////////////////
// WordPress Elements //
////////////////////////

/**
 * Wrapper around wordpress post content for common formatting
 * and readability
 */
.the-content {
	p,ul,ol {
		margin-bottom: 1em;
	}
	ul,ol {
		line-height: 2em;
		padding-left: 2em;
	}
	ul {
		list-style-type: disc;
	}
}

/* WordPress content images default classes */
.alignleft {
	float: left;
	text-align: left;
	margin-bottom: $spacing/3;
	margin-right: $spacing/3;
}

.alignright {
	float: right;
	text-align: right;
	margin-bottom: $spacing/3;
	margin-left: $spacing/3;
}

.aligncenter {
	display: block;
	text-align: center;
	margin: 0 auto $spacing/3;
}

.wp-caption img,
.wp-caption {
	width: auto;
	height: auto;
	max-width: 100%;
}

.wp-caption-text {
	padding: 5px 0;
	font-size: $font-size-small;
}

img.size-full, img.size-large {
	max-width: 100%;
	width: auto;
	height: auto;
}

/**
 * Contact Form 7
 */

div.wpcf7-response-output {
	@extend .alert;
}

div.wpcf7-mail-sent-ok {
	@extend .alert-success;
}

div.wpcf7-validation-errors {
	@extend .alert-warning;
}

div.wpcf7-mail-sent-ng {
	@extend .alert-danger;
}

span.wpcf7-form-control-wrap {
	display: block;
}

span.wpcf7-not-valid-tip {
	font-family: $font-family-sans-serif;
}